language: go

go:
    - "1.6"
    - "1.7"
    - "1.8"
    - "1.9"
    - "1.10"
    - "1.11"

before_script:
    - curl -O http://download.geofabrik.de/europe/germany/bremen-latest.osm.pbf

script:
    - TESTFILE=bremen-latest.osm.pbf go test -v -race
